#UI /isolinux/menu.c32
UI /isolinux/vesamenu.c32
DEFAULT silent
TIMEOUT 100
MENU RESOLUTION 1024 768
MENU BACKGROUND /isolinux/chili10.jpg
MENU VSHIFT 8
MENU ROWS 8

# Refer to http://syslinux.zytor.com/wiki/index.php/Doc/menu
MENU TITLE ChiliOS GNU/Linux LiveCD

LABEL Chili
	MENU LABEL ^Boot Chili Linux (x86_64)
	KERNEL /boot/vmlinuz
	APPEND initrd=/boot/initrd vga=791 quiet

LABEL Chili-single
	MENU LABEL ^Boot Chili Linux (x86_64 [single])
	KERNEL /boot/vmlinuz
	APPEND initrd=/boot/initrd vga=791 single

label local
  menu label Boot from ^local drive
  localboot 0xffff

LABEL existing
	MENU LABEL Boot existing OS
	COM32 chain.c32
	APPEND hd0 0

LABEL Windows
	MENU LABEL Microsoft Windows
	COM32 chain.c32
	APPEND hd0 1

LABEL memtest
	MENU LABEL Run a ^memory test
	text help
			If your system is having issues, a problem with your
			system's memory may be the cause. Use this utility to
			see if the memory is working correctly.
	endtext
	KERNEL memtest

LABEL hdt
    MENU LABEL HDT (Hardware Detection Tool)
    KERNEL hdt.c32

LABEL Reiniciar
    MENU LABEL Reiniciar
    COM32 reboot.c32

LABEL Desligar
    MENU LABEL Desligar
    COM32 poweroff.c32
